<div class="plantView">
	<div class="panel panel-default">
	  	<div class="panel-body">
	  		<!--display photo-->
	  		<span style="float:right" class="glyphicon glyphicon-remove" aria-hidden="true" ui-sref="photos"></span>
	  		<h3 class="title" style="padding-top:10px"> {{vm.PlantID}}. {{vm.PlantName}} photos </h3>

	    	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	    		<!--Display's photo-->
		      	<img class="img-responsive" ng-src="{{vm.currentImage}}">
		      	
			  	<!-- Left and right controls -->
			 	<a class="left carousel-control" role="button" ng-click="vm.prevOne()">
			    	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			    	<span class="sr-only">Previous</span>
			  	</a>
			  	<a class="right carousel-control" role="button" ng-click="vm.nextOne()">
			    	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			    	<span class="sr-only">Next</span>
			  	</a>
		  	</div>
		  	<div class="col-xs-12" style="text-align:center;padding-top:15px;">
		  		<span ng-show="!vm.Show" ng-click="vm.openBTN()">See More</span>
		  		<div class="panel panel-default" ng-show="vm.Show">
					<div class="panel-body">
						<div class="col-xs-12"> 
							<span style="float:left"> Week: </span>
							<span style="float:right" class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="vm.closeBTN()"></span> 
							<br><br>
						</div> 
				  		<div class="col-xs-2" style="padding-bottom:5px" ng-repeat="week in vm.weekList">
				  			<div class="label" ng-class="vm.selectedFilter(week)" 
				  				 ng-click="vm.filterWeek(week)"> {{week}} </div>
				  		</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>
</div>