<div class="dailyView">
	<div class="panel panel-default">
	  	<div class="panel-body">
	  		<!--display photo-->
	  		<h3 class="title" style="padding-top:10px"> {{vm.PlantID}}. {{vm.PlantName}} photos </h3>
	    	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	    		<!--Display's photo-->
		      	<img class="img-responsive" ng-src="{{vm.currentImage}}">
		      	
			  	<!-- Left and right controls -->
			 	<a class="left carousel-control" role="button" ng-click="vm.prevOne()">
			    	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			    	<span class="sr-only">Previous</span>
			  	</a>
			  	<a class="right carousel-control" role="button" ng-click="vm.nextOne()">
			    	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			    	<span class="sr-only">Next</span>
			  	</a>
		  	</div>
		  	<div class="col-xs-12" style="text-align:center;padding-top:15px;">
				<button class="btn btn-default" ng-click="" ui-sref="photos">Back</button>
			</div>
		</div>
	</div>
</div>