<div class="panel-group" style="padding-bottom:20px">
   	<form class="form-horizontal" name="dailyForm">
	  	<fieldset>
	    	<div class="form-group col-sm-6 col-lg-3">
	      		<label for="input" class="col-lg-6 control-label">Room Temp:</label>
	      		<div class="col-lg-6">
		      		<div class="input-group">
					    <input type="text" class="form-control" required only-Digits allow-decimal="true" ng-model="vm.inputData.roomTemp" placeholder="{{vm.placeholders.roomTemp}}">
					    <span class="input-group-btn">
					      	<button class="btn btn-default" type="button">&#8457;/&#8451;</button>
					    </span>
					</div>
				</div>
	    	</div>
	    	<div class="form-group col-sm-6 col-lg-3">
	      		<label for="input" class="col-lg-6 control-label">Humidity:</label>
	      		<div class="col-lg-6">
		      		<div class="input-group">
					    <input type="text" class="form-control" required only-Digits allow-decimal="true" ng-model="vm.inputData.roomHumidity" placeholder="{{vm.placeholders.roomHumidity}}">
					    <span class="input-group-btn">
					      	<button class="btn btn-default" type="button">atm.</button>
					    </span>
					</div>
				</div>
	    	</div>
	    	<div class="form-group col-sm-6 col-lg-3">
	      		<label for="input" class="col-lg-6 control-label">Light Time:</label>
	      		<div class="col-lg-6">
	      			<div class="input-group">
		        		<input type="text" class="form-control" only-Digits ng-model="vm.inputData.roomLightHr" placeholder="{{vm.placeholders.roomLightHr}}">
		        		<span class="input-group-btn">
					      	<button class="btn btn-default" type="button">hr.</button>
					    </span>
					</div>
	      		</div>
	    	</div>
	    	<div class="form-group col-sm-6 col-lg-3">
	      		<label for="input" class="col-lg-6 control-label">Light Height:</label>
	      		<div class="col-lg-6">
		      		<div class="input-group">
					    <input type="text" class="form-control" only-Digits ng-model="vm.inputData.roomLightHt" placeholder="{{vm.placeholders.roomLightHt}}">
					    <span class="input-group-btn">
					      	<button class="btn btn-default" type="button">in.</button>
					    </span>
					</div>
				</div>
	    	</div>
	    	<div class="form-group col-sm-6 col-lg-3">
	      		<label for="input" class="col-lg-6 control-label">Total Water:</label>
	      		<div class="col-lg-6">
		      		<div class="input-group">
					    <input type="text" class="form-control" style="background-color:#4d4d4d;color:white" ng-model="vm.inputData.totalWater" placeholder="{{vm.placeholders.totalWater}}" ng-disabled="true">
					    <span class="input-group-btn">
					      	<button class="btn btn-default" type="button">gal.</button>
					    </span>
					</div>
				</div>
	    	</div>
	    	<div class="form-group col-xs-12 col-lg-6">
			    <label for="textArea" class="col-sm-2 col-lg-2 control-label">Notes:</label>
			    <div class="col-xs-12 col-sm-9 col-md-10 Scol-lg-10">
			        <textarea class="form-control" rows="3" style="overflow:auto;resize:none"
			        		  ng-model="vm.inputData.roomMsg" placeholder="{{vm.placeholders.roomMsg}}"></textarea>
			    </div>
		    </div>
	    	<!-- <div class="form-group col-sm-6 col-lg-3">
	      		<label for="input" class="col-lg-6 control-label">PPM Before:</label>
	      		<div class="col-lg-6">
	        		<input type="text" class="form-control" required only-Digits ng-model="vm.inputData.totalPPM" placeholder="{{vm.placeholders.totalPPM}}">
	      		</div>
	    	</div>
	    	<div class="form-group col-sm-6 col-lg-3">
	      		<label for="input" class="col-lg-6 control-label">PH Before:</label>
	      		<div class="col-lg-6">
	        		<input type="text" class="form-control" required only-Digits ng-model="vm.inputData.totalPH" placeholder="{{vm.placeholders.totalPH}}">
	      		</div>
	    	</div> -->
	    	
	    	<div class="col-xs-12 col-lg-12">
	    		<h3 class="title" style="padding-top:10px"> nutrients </h3>
	    	</div>
	    	<div class="form-group col-xs-6 col-sm-4 col-lg-2" ng-repeat="item in vm.Nutrients track by $index" style="padding-left:25px;margin-right:5px">
	      		<div class="checkbox">
		          	<label>
		            	<input type="checkbox" ng-model="item.checked"> 
		            		{{item.name}} 
		            	<span> <!--ng-if="item.checked != false"-->
		            		 Amt:
			            	<div class="input-group">
							    <input type="text" class="form-control" only-Digits ng-model="item.amt">
							    <span class="input-group-btn">
							      	<button class="btn btn-default" style="padding-left:10px;width:45px" type="button"> t/g</button>
							    </span>
							</div>
						</span>
		          	</label>
		        </div>
	    	</div>
			    
		 
	    	<div class="col-xs-12" style="text-align:center">
				<!-- <button class="btn btn-primary" ng-click="vm.getData()">Test</button> -->
				<button class="btn {{submitButtonStyle}}" ng-click="vm.submitData()">Submit</button>
				<!-- <button class="btn {{buttonStyle}}" ng-click="vm.storeData()">Save</button>
				<button class="btn {{emailButtonStyle}}" ng-click="vm.emailData()" ng-disabled="vm.isSaved">Email</button> -->
				<button class="btn btn-default" ng-click="vm.clearData()">Clear</button>
				<br/><span>{{vm.errorMessage}}<span>
			</div>
		</fieldset>
	</form>
</div>
