<div class="mainView">
	<div class="well well-lg col-lg-3">
		<div class="panel">
			<a ui-sref="daily" class="btn btn-default btn-lg btn-block">Daily Feeding</a>
			<a ui-sref="plant" class="btn btn-default btn-lg btn-block">Plant Progress</a>
			<a ui-sref="schedule" class="btn btn-default btn-lg btn-block">Weekly To-Do</a>
		</div>
		<!-- <div class="panel">
			<div class="btn-group btn-group-justified">
			  <a ui-sref="plant" class="btn btn-default">Overview</a>
			  <a ui-sref="main" class="btn btn-default">Others</a>
			</div>
		</div> -->
	</div>
<div>