<div class="alert alert-dismissible alert-info">
	<legend>
		Plant 1
		<button type="button" class="close" data-dismiss="alert" ui-sref="plant">
	  		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	  	</button>
	</legend>
  	<hr></hr>
	<div class="panel-body">
		replace these with graphs or charts or something...
  		<form class="form-horizontal">
				<fieldset>
		      	<div class="form-group col-sm-6 col-lg-4">
		      		<label for="input" class="col-lg-6 control-label">Strain:</label>
		      		<div class="col-lg-6">
		        		<input type="text" class="form-control" placeholder="type">
		      		</div>
		    	</div>
		    	<div class="form-group col-sm-6 col-lg-4">
		      		<label for="input" class="col-lg-6 control-label">Water:</label>
		      		<div class="col-lg-6">
		      		<div class="input-group">
					    <input type="text" class="form-control" placeholder="0">
					    <span class="input-group-btn">
					      	<button class="btn btn-default" type="button">gal.</button>
					    </span>
					</div>
				</div>
		    	</div>
		        <div class="form-group col-sm-6 col-lg-4">
		      		<label for="input" class="col-lg-6 control-label">PH:</label>
		      		<div class="col-lg-6">
		        		<input type="text" class="form-control" placeholder="0">
		      		</div>
		    	</div>
		    	<div class="form-group col-sm-6 col-lg-4">
		      		<label for="input" class="col-lg-6 control-label">PPM:</label>
		      		<div class="col-lg-6">
		        		<input type="text" class="form-control" placeholder="0">
		      		</div>
		    	</div>
		    	<div class="form-group col-sm-6 col-lg-4">
		      		<label for="input" class="col-lg-6 control-label">Height:</label>
		      		<div class="col-lg-6">
		        		<div class="input-group">
					    <input type="text" class="form-control" placeholder="0">
					    <span class="input-group-btn">
					      	<button class="btn btn-default" type="button">in.</button>
					    </span>
					</div>
		      		</div>
		    	</div>
		    	<div class="form-group col-sm-6 col-lg-4">
		      		<label for="input" class="col-lg-6 control-label">Condtion:</label>
		      		<div class="col-lg-6">
		        		<input type="text" class="form-control" placeholder="Good">
		      		</div>
		    	</div>
		      	<div class="form-group col-sm-6 col-lg-11">
			    	<label for="textArea" class="col-lg-2 control-label">Note:</label>
			    	<div class="col-lg-10">
			    		<textarea class="form-control" rows="3" id="textArea" placeholder="what happened to your plant today?"></textarea>
			      	</div>
		   		</div>
		  </fieldset>
		</form>
	</div>
</div>