<div class="plantView">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="panel">
				<div data-ui-view></div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="panel panel-info">
					  <div class="panel-heading" ui-sref="plant">
					    <h3 class="panel-title">Plant 1 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></h3>
					  </div>
					  <div class="panel-body">
					    Plant Health: Good
					    <div class="progress progress-striped">
				  			<div class="progress-bar progress-bar-info" style="width: 60%"></div>
						</div>
					  </div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="panel panel-info">
					  <div class="panel-heading" ui-sref="plant">
					    <h3 class="panel-title">Plant 2 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></h3>
					  </div>
					  <div class="panel-body">
					    Plant Health: Good
					    <div class="progress progress-striped">
				  			<div class="progress-bar progress-bar-info" style="width: 30%"></div>
						</div>
					  </div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="panel panel-success">
					  <div class="panel-heading" ui-sref="plant">
					    <h3 class="panel-title">Plant 3 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></h3>
					  </div>
					  <div class="panel-body">
					    Plant Health: Excellent
					    <div class="progress progress-striped">
				  			<div class="progress-bar progress-bar-success" style="width: 100%"></div>
						</div>
					  </div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="panel panel-info">
					  <div class="panel-heading" ui-sref="plant">
					    <h3 class="panel-title">Plant 4 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></h3>
					  </div>
					  <div class="panel-body">
					    Plant Health: Good
					    <div class="progress progress-striped">
				  			<div class="progress-bar progress-bar-info" style="width: 40%"></div>
						</div>
					  </div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="panel panel-primary panel-danger">
					  <div class="panel-heading" ui-sref="plant">
					    <h3 class="panel-title">Plant 5 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></h3>
					  </div>
					  <div class="panel-body">
					    Plant Health: Poor
					    <div class="progress progress-striped">
				  			<div class="progress-bar progress-bar-danger" style="width: 20%"></div>
						</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>