<div class="panel-group" style="padding-top:30px;padding-bottom:40px">
   	<form class="form-horizontal" name="dailyForm">
	  	<fieldset>
	    	<div class="form-group col-sm-6 col-lg-3">
	      		<label for="input" class="col-lg-6 control-label">Room Temp:</label>
	      		<div class="col-lg-6">
		      		<div class="input-group">
					    <input type="text" class="form-control" required only-Digits ng-model="vm.inputData.roomTemp" placeholder="{{vm.placeholders.roomTemp}}">
					    <span class="input-group-btn">
					      	<button class="btn btn-default" type="button">&#8457;/&#8451;</button>
					    </span>
					</div>
				</div>
	    	</div>
	    	<div class="form-group col-sm-6 col-lg-3">
	      		<label for="input" class="col-lg-6 control-label">Humidity:</label>
	      		<div class="col-lg-6">
		      		<div class="input-group">
					    <input type="text" class="form-control" required only-Digits ng-model="vm.inputData.roomHumidity" placeholder="{{vm.placeholders.roomHumidity}}">
					    <span class="input-group-btn">
					      	<button class="btn btn-default" type="button">atm.</button>
					    </span>
					</div>
				</div>
	    	</div>
	    	<div class="form-group col-sm-6 col-lg-3">
	      		<label for="input" class="col-lg-6 control-label">Light:</label>
	      		<div class="col-lg-6">
	        		<input type="text" class="form-control" required only-Digits ng-model="vm.inputData.roomLight" placeholder="{{vm.placeholders.roomLight}}">
	      		</div>
	    	</div>
	    	<div class="form-group col-sm-6 col-lg-3">
	      		<label for="input" class="col-lg-6 control-label">Total Water:</label>
	      		<!-- <label class="panel">
					  	{{vm.inputData.totalWater}} 
					  	<span ng-if="vm.inputData.totalWater == null"> {{vm.placeholders.totalWater}} </span>
				</label> -->
	      		<div class="col-lg-6">
		      		<div class="input-group">
					    <input type="text" class="form-control" style="background-color:#4d4d4d;color:white" ng-model="vm.inputData.totalWater" placeholder="{{vm.placeholders.totalWater}}" ng-disabled="true">
					    <span class="input-group-btn">
					      	<button class="btn btn-default" type="button">gal.</button>
					    </span>
					</div>
				</div>
	    	</div>
	    	<!-- <div class="form-group col-sm-6 col-lg-3">
	      		<label class="col-lg-8 control-label">Time of Day:</label>
			      <div class="col-lg-4">
			        <div class="radio">
			          <label>
			            <input type="radio" name="timeRadios" 
			            	   ng-model="vm.inputData.timeOfDay" value="morning" checked="">
			            Morning
			          </label>
			        </div>
			        <div class="radio">
			          <label>
			            <input type="radio" name="timeRadios" 
			            	   ng-model="vm.inputData.timeOfDay" value="afternoon">
			            Afternoon
			          </label>
			        </div>
			         <div class="radio">
			          <label>
			            <input type="radio" name="timeRadios" 
			            	   ng-model="vm.inputData.timeOfDay" value="evening">
			            Evening
			          </label>
			        </div>
			    </div>
	    	</div> -->
	    	<div class="form-group col-sm-6 col-lg-3">
	      		<label for="input" class="col-lg-6 control-label">PPM Before:</label>
	      		<div class="col-lg-6">
	        		<input type="text" class="form-control" required only-Digits ng-model="vm.inputData.totalPPM" placeholder="{{vm.placeholders.totalPPM}}">
	      		</div>
	    	</div>
	    	<div class="form-group col-sm-6 col-lg-3">
	      		<label for="input" class="col-lg-6 control-label">PH Before:</label>
	      		<div class="col-lg-6">
	        		<input type="text" class="form-control" required only-Digits ng-model="vm.inputData.totalPH" placeholder="{{vm.placeholders.totalPH}}">
	      		</div>
	    	</div>
	    	<div class="col-xs-12">
				<button class="btn btn-primary" ng-click="vm.getData()">Test</button>
				<button class="btn {{buttonStyle}}" ng-click="vm.storeData()">Save</button>
				<button class="btn btn-default" ng-click="vm.emailData()" ng-disabled="vm.isSaved">Email</button>
				<button class="btn btn-default" ng-click="vm.clearData()">Clear</button>
				<br/><span>{{vm.errorMessage}}<span>
			</div>
		</fieldset>
	</form>
</div>
